<div [@routerTransition]>
    <app-page-header [heading]="'Bootstrap Grid'" [icon]="'fa-wrench'"></app-page-header>

    <!--<div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-12
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-8 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-8
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;

    <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; /.row &ndash;&gt;-->



    <div class="col col-xl-12 col-lg-12"  >

        <table class="card-body table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Categoría</th>

            </tr>
            </thead>
            <tbody>
            <tr class="table-active" *ngFor="let product of allProducts| async  ">

                <th scope="row">{{product.key}}</th>
                <td>{{product.nombre}}</td>
                <td>{{product.cantidad}}</td>
                <td>{{product.precio}}</td>
                <td>{{product.categoria}}</td>


            </tr>
            </tbody>
        </table>
    </div>

</div>
