<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div *ngIf="add" class="col col-xl-12 col-lg-12">

            <form role="form">


                <fieldset class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Escribe el nombre">
                </fieldset>
                <fieldset class="form-group">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" [(ngModel)]="cantidad" placeholder="cantidad">
                </fieldset>
                <fieldset class="form-group">
                    <label>Precio</label>
                    <input type="number" class="form-control"  name="precio" [(ngModel)]="precio" placeholder="precio">
                </fieldset>
                <fieldset class="form-group">
                    <label>Categoria</label>
                    <input type="text" class="form-control"  name="categoria" [(ngModel)]="categoria" placeholder="categoria">
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleFormControlSelect1">Selecciona una tienda</label>
                    <select class="form-control" name="tienda" id="tienda" [(ngModel)]="tienda" >
                        <option></option>
                        <option  *ngFor="let store of allStores| async " value="{{store.key}}">{{store.nombre}}</option>

                    </select>  </fieldset>

                <button type="submit" class="btn btn-secondary" (click)="addProduct()"> Guardar</button>
                <button type="reset" class="btn btn-secondary">Limpiar Campos</button>

            </form>

        </div>
        <div *ngIf="edit" class="col col-xl-12 col-lg-12">

            <form role="form">


                <fieldset class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" name="ednombre" [(ngModel)]="ednombre" placeholder="Escribe el nombre">
                </fieldset>
                <fieldset class="form-group">
                    <label>Cantidad</label>
                    <input type="number" class="form-control" name="edcantidad" [(ngModel)]="edcantidad" placeholder="cantidad">
                </fieldset>
                <fieldset class="form-group">
                    <label>Precio</label>
                    <input type="number" class="form-control"  name="edprecio" [(ngModel)]="edprecio" placeholder="precio">
                </fieldset>
                <fieldset class="form-group">
                    <label>Categoria</label>
                    <input type="text" class="form-control"  name="edcategoria" [(ngModel)]="edcategoria" placeholder="categoria">
                </fieldset>

                <button type="submit" class="btn btn-secondary" (click)="editAProduct()"> Guardar</button>
                <button type="reset" class="btn btn-secondary">Limpiar Campos</button>

            </form>

        </div >
        <div class="col col-xl-12 col-lg-12">


        <div class="form-group">

            <label for="exampleFormControlSelect1">Selecciona una categoría</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="type" (change)="getProductos(type)">
                <option value="Ropa" >ropa</option>
                <option value="Tecnologia">Tecnologia</option>
                <option value="Comida">comida</option>
            </select>
        </div>
        </div>
        <div class="col col-xl-12 col-lg-12" *ngIf="!add">
                <div class="card-header">Productos
                    <span (click)="showForm()" style="float: right"><i class="fa fa-plus"></i>&nbsp;</span>
                </div>
                <table class="card-body table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Functions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active" *ngFor="let product of allProducts| async  ">
                        <th scope="row">{{product.key}}</th>
                        <td>{{product.nombre}}</td>
                        <td>{{product.cantidad}}</td>
                        <td>{{product.precio}}</td>
                        <td>{{product.categoria}}</td>
                        <td>
                            <button class="fa fa-trash" (click)="removeAProduct(product.key)"></button>
                            <button class="fa fa-pencil" (click)="calleditAProduct(product.key,product.nombre
                        ,product.cantidad,product.precio, product.categoria)" ></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>



    </div>
</div>
