<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Sistemas Abiertos</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group" *ngIf="showPP">
                        <input type="text"  class="form-control input-underline input-lg" name="email" [(ngModel)]="email" placeholder="Email">
                    </div>

                    <div class="form-group" *ngIf="showPP">
                        <input type="password" class="form-control input-underline input-lg" name="pass" [(ngModel)]="pass" placeholder="Password">
                    </div>
                    <div style="float: right" (click)="showp()" *ngIf="showPP">
                        <label > change my password</label>
                    </div>
                    <div class="form-group"  *ngIf="!showPP">
                        <label > change  password for: {{ this.user.uid}} {{ this.user.email}}</label>
                        <input type="password" class="form-control input-underline input-lg" name="newpass" [(ngModel)]="newpass" placeholder="newpass">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn"  (click)="login()" *ngIf="showPP"> Log in </button>
                <button type="submit" class="btn rounded-btn"  (click)="updatePass()" *ngIf="!showPP"> Change </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
