<div class="col col-xl-12 col-lg-12"   *ngIf="!edit">

    <table class="card-body table">
        <thead>
        <tr>
            <th>Uid</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Habilitado</th>
            <th>Functions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active" *ngFor="let product of UserList  ">
            <th scope="row">{{product.uid}}</th>
            <td>{{product.displayName}}</td>
            <td>{{product.email}}</td>
            <td>
                <button *ngIf="!product.disabled" class="fa fa-check" (click)="UpdateStatus(product.uid, true)"></button>
                <button *ngIf="product.disabled"  class="fa fa-times"  (click)="UpdateStatus(product.uid, false)"></button>
            </td>
            <td>
                <button class="fa fa-trash" (click)="DeleteUser(product.uid)"></button>
                <button class="fa fa-pencil"  (click)="show(product.uid)"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="edit" class="col col-xl-12 col-lg-12">

    <form role="form">


        <fieldset class="form-group">
            <label>Nombre</label>
            <input class="form-control" name="ednombre" [(ngModel)]="newName" placeholder="Escribe el nombre">
        </fieldset>


        <button type="submit" class="btn btn-secondary" (click)="UpdateName()"> Guardar</button>
        <button type="reset" class="btn btn-secondary">Limpiar Campos</button>

    </form>

</div >
